In [3]:
import copy
import pandas as pd

# Requests sends and recieves HTTP requests.
import requests

# Beautiful Soup parses HTML documents in python.
from bs4 import BeautifulSoup

import re

import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets
%matplotlib inline

plt.style.use('ggplot')

In [45]:
recipe_url = 'https://www.epicurious.com/recipes/food/views/sausage-and-greens-sheet-pan-dinner'
r = requests.get(recipe_url)

In [46]:
r.status_code

200

In [1]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)

# Access/Initiate Database
recipe_db = client.recipe_database

# Access/Initiate Table
recipes_table = recipe_db.recipes_table

In [51]:
recipes = recipes_table.find()
recipe_table = pd.DataFrame(list(recipes))
recipe_table.shape

(18000, 79)

In [66]:
# recipe_table.columns

In [55]:
#extract all recipes with 'Winter' tag
Winter = recipe_table[(recipe_table['Tag #1']=='Winter')|
                      (recipe_table['Tag #2']=='Winter')|
                      (recipe_table['Tag #3']=='Winter')|
                      (recipe_table['Tag #4']=='Winter')|
                      (recipe_table['Tag #5']=='Winter')|
                      (recipe_table['Tag #6']=='Winter')|
                      (recipe_table['Tag #7']=='Winter')|
                      (recipe_table['Tag #8']=='Winter')|
                      (recipe_table['Tag #9']=='Winter')|
                      (recipe_table['Tag #10']=='Winter')|
                      (recipe_table['Tag #11']=='Winter')|
                      (recipe_table['Tag #12']=='Winter')|
                      (recipe_table['Tag #13']=='Winter')|
                      (recipe_table['Tag #14']=='Winter')|
                      (recipe_table['Tag #15']=='Winter')|
                      (recipe_table['Tag #16']=='Winter')|
                      (recipe_table['Tag #17']=='Winter')|
                      (recipe_table['Tag #18']=='Winter')|
                      (recipe_table['Tag #19']=='Winter')|
                      (recipe_table['Tag #20']=='Winter')|
                      (recipe_table['Tag #21']=='Winter')|
                      (recipe_table['Tag #22']=='Winter')|
                      (recipe_table['Tag #23']=='Winter')|
                      (recipe_table['Tag #24']=='Winter')]

winter_nutrition = Winter[['Calories', 'Carbohydrates', 'Cholesterol', 
                           'Fat', 'Fiber','Make_Again', 'Monounsaturated Fat',
                           'Polyunsaturated Fat', 'Protein', 'Rating', 'Reviews', 
                           'Saturated Fat', 'Sodium', 'Title', '_id']]

In [69]:
Summer = recipe_table[(recipe_table['Tag #1']=='Summer')|
                      (recipe_table['Tag #2']=='Summer')|
                      (recipe_table['Tag #3']=='Summer')|
                      (recipe_table['Tag #4']=='Summer')|
                      (recipe_table['Tag #5']=='Summer')|
                      (recipe_table['Tag #6']=='Summer')|
                      (recipe_table['Tag #7']=='Summer')|
                      (recipe_table['Tag #8']=='Summer')|
                      (recipe_table['Tag #9']=='Summer')|
                      (recipe_table['Tag #10']=='Summer')|
                      (recipe_table['Tag #11']=='Summer')|
                      (recipe_table['Tag #12']=='Summer')|
                      (recipe_table['Tag #13']=='Summer')|
                      (recipe_table['Tag #14']=='Summer')|
                      (recipe_table['Tag #15']=='Summer')|
                      (recipe_table['Tag #16']=='Summer')|
                      (recipe_table['Tag #17']=='Summer')|
                      (recipe_table['Tag #18']=='Summer')|
                      (recipe_table['Tag #19']=='Summer')|
                      (recipe_table['Tag #20']=='Summer')|
                      (recipe_table['Tag #21']=='Summer')|
                      (recipe_table['Tag #22']=='Summer')|
                      (recipe_table['Tag #23']=='Summer')|
                      (recipe_table['Tag #24']=='Summer')]

summer_nutrition = Summer[['Calories', 'Carbohydrates', 'Cholesterol', 
                           'Fat', 'Fiber','Make_Again', 'Monounsaturated Fat',
                           'Polyunsaturated Fat', 'Protein', 'Rating', 'Reviews', 
                           'Saturated Fat', 'Sodium', 'Title', '_id']]

In [83]:
#data cleaning
def get_val(x):
    return str(x).split(' ')[0]
def get_perc(x):
    return str(x.split(' ')[1])[2:-2]

colz = ['Carbohydrates', 'Cholesterol', 'Fat', 'Fiber', 'Protein',
       'Saturated Fat', 'Sodium']
valcolz = [x[:3] + '_val' for x in colz]
percolz = [x[:3] + '_perc' for x in colz]

for i,x in enumerate(colz):
    winter_nutrition[valcolz[i]] = winter_nutrition[x].dropna().apply(get_val)
#     rn[percolz[i]] = rn[x].dropna().apply(get_perc)
    
for i,x in enumerate(colz):
    summer_nutrition[valcolz[i]] = summer_nutrition[x].dropna().apply(get_val)
#     rna[percolz[i]] = rna[x].dropna().apply(get_perc)

summer_nutrition['Make_Again#'] = summer_nutrition['Make_Again'].apply(lambda x: x.strip('%'))
winter_nutrition['Make_Again#'] = winter_nutrition['Make_Again'].apply(lambda x: x.strip('%'))

/Users/esotewic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/esotewic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/esotewic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/esotewic/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [104]:
# summer_nutrition

In [98]:
summer_nutritions = summer_nutrition[['Calories', 'Make_Again#', 'Rating', 'Reviews',
                                      'Car_val', 'Cho_val', 'Fat_val', 'Fib_val', 'Pro_val', 
                                      'Sat_val', 'Sod_val']].apply(pd.to_numeric)
winter_nutritions = winter_nutrition[['Calories', 'Make_Again#', 'Rating', 'Reviews',
                                      'Car_val', 'Cho_val', 'Fat_val', 'Fib_val', 'Pro_val', 
                                      'Sat_val', 'Sod_val']].apply(pd.to_numeric)

summer_nutritions['score'] = summer_nutritions['Rating'] * summer_nutritions['Reviews'] * summer_nutritions['Make_Again#']/100

winter_nutritions['score'] = winter_nutritions['Rating'] * winter_nutritions['Reviews'] * winter_nutritions['Make_Again#']/100
summer_nutritions.describe()
# summer_nutritions

,Calories,Make_Again#,Rating,Reviews,Car_val,Cho_val,Fat_val,Fib_val,Pro_val,Sat_val,Sod_val,score
count,2697.000000,3489.000000,3489.000000,3489.000000,2697.000000,2159.000000,2694.000000,2677.000000,2694.000000,2696.000000,2697.000000,3489.000000
mean,449.477197,87.294354,3.371453,31.882488,37.488691,108.913849,25.537491,3.740381,18.379362,8.776335,479.766036,97.959858
std,522.837685,10.767703,0.386704,33.899109,57.491168,195.345940,34.486244,4.456590,30.006240,16.582465,664.817579,111.864147
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,219.000000,83.000000,3.000000,13.000000,12.000000,26.000000,10.000000,1.000000,4.000000,2.000000,113.000000,38.220000
50%,349.000000,90.000000,3.500000,21.000000,27.000000,73.000000,19.000000,3.000000,9.000000,5.000000,300.000000,62.510000
75%,553.000000,94.000000,3.500000,37.000000,49.000000,136.000000,31.000000,5.000000,26.000000,11.000000,617.000000,113.520000
max,14647.000000,100.000000,4.000000,501.000000,1451.000000,4000.000000,926.000000,115.000000,888.000000,516.000000,14966.000000,1630.755000

In [103]:
summer_nutritions.shape
winter_nutritions.describe()

,Calories,Make_Again#,Rating,Reviews,Car_val,Cho_val,Fat_val,Fib_val,Pro_val,Sat_val,Sod_val,score
count,2617.000000,3153.000000,3153.000000,3153.000000,2615.000000,2354.000000,2616.000000,2598.000000,2616.000000,2615.000000,2617.000000,3153.000000
mean,550.542224,86.409768,3.339518,40.303838,43.456597,120.615123,31.574924,4.351039,22.940367,12.275717,555.898739,123.019278
std,766.861766,10.363639,0.363856,45.644117,78.398031,175.495947,56.896892,5.480945,33.743112,24.035442,943.056054,150.968042
min,3.000000,13.000000,1.500000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.145000
25%,245.000000,82.000000,3.000000,15.000000,15.000000,30.000000,11.000000,1.000000,5.000000,3.000000,134.000000,40.200000
50%,404.000000,89.000000,3.500000,24.000000,31.000000,79.500000,20.000000,3.000000,12.000000,8.000000,357.000000,70.470000
75%,652.000000,93.000000,3.500000,47.000000,52.000000,159.750000,37.000000,6.000000,32.000000,15.000000,728.000000,143.220000
max,16486.000000,100.000000,4.000000,484.000000,1582.000000,3192.000000,1528.000000,115.000000,612.000000,663.000000,30739.000000,1858.560000